body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0
}

#login-container {
  background-color: #fff;
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 35%;
  text-align: center;
}

h1 {
    color: #ffa826;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  background-color: #ffa826;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

button:hover {
  background-color: #e09422;
}
